.btn-primary {
    background-color:dodgerblue;
    border-color:skyblue;
    margin-left:10px;
}

.btn-primary:hover {
    background-color:darkblue;
    border-color:skyblue;
    margin-left:10px;
}